AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_DEFAULT_REGION=ap-south-1
S3_BUCKET_NAME=your_unique_bucket_name

# --- Metadata DB (Docker) ---
POSTGRES_USER=eklakshay_admin
POSTGRES_PASSWORD=eklakshay_secret
POSTGRES_DB=eklakshay_metadata
POSTGRES_PORT=5432

# Snowflake Credentials
SNOWFLAKE_USER=username
SNOWFLAKE_PASSWORD=password
SNOWFLAKE_ACCOUNT=id